<div class="jumbotron">
  <h1>Test Factory</h1>
  <p class="lead">Ten projekt pomaga osobom w prowadzeniu fajnych korepetycji :) Fabryka to <em>proste</em> i <em>darmowe</em> narzędzie do tworzenia testów ze zdaniami do tłumaczenia. </p>
  <p>
    <a class="btn btn-lg btn-success" href="<%= new_user_registration_path %>" role="button">Zacznij już dziś!</a></p>
</div>

<div class="row marketing">
  <div class="col-lg-6">
    <h4>Twórz zadania</h4>
    <p>Stworzone zadania są <b>współdzielone</b> więc jedno zadanie możesz użyć w kilku różnych testach.</p>

    <h4>Generuj testy</h4>
    <p>Każdy opracowany przez Ciebie test jest możliwy do pobrania jako <b>plik PDF</b>.</p>
  </div>

  <div class="col-lg-6">
    <h4>Pracuj z uczniami</h4>
    <p>Aplikacja pamięta jakie zadania otrzymał uczeń. Dzięki temu <b>unikniesz powtórzeń</b> w trakcie zajęć. </p>

    <h4>Pisz pytania po norwesku</h4>
    <p>Dzięki skrótom <kbd><kbd>Ctrl</kbd> + <kbd>A</kbd></kbd>, <kbd><kbd>Ctrl</kbd> + <kbd>E</kbd></kbd>, <kbd><kbd>Ctrl</kbd> + <kbd>O</kbd></kbd>
      możesz wstawić norweskie litery <samp>Å, Æ, Ø</samp></p>
  </div>
</div>
